html,body { height:100%; }


h1{
	color: white;
	font-size: 55px;
	text-align: center;
	font-family: "Ailerons", Times, serif;
}
h2 {
	font-size: 25px;
	color: white;
	font-family: "Raleway Light", Times, serif;
	margin-top: 50px;
}
.name{
	padding-top:15%;
}

 p{
	font-size: 18px;
	font-family: "Raleway Light";
	color:white;}

li{font-family: 'Ailerons';
font-size:18px;
}

#writingContainer{
	padding-left: 10%;
	padding-right: 10%;
}
#contact{
	font-size:15px;
}

.h{
	font-size: 25px;
	color:white;
	font-family:'Ailerons';}

.contact{
	font-size:20px; 
	color: white;}

body {
		text-align: center;
	background: black;}

#image{
	text-align: center;
	width:325px;
	height: 275px;
}

#image{ 
	-webkit-animation-duration: 3s;
  -webkit-animation-delay: 1s;
  border: 1px solid black;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  
    filter: gray;  
    -webkit-transition: all .6s ease;
}

#image:hover { 
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
}

#bg {
	-webkit-animation-duration: 3s;
  -webkit-animation-delay: 1s;
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  max-height: 100%;
}

.glyphicon {
    font-size: 30px;
}


#icons{
	color: gray;
}
.navbar-default {
  background-color: #000000;
  border-color: #000000;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #e7e7e7;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #e7e7e7;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #e7e7e7;
  background-color: #000000;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #e7e7e7;
  background-color: #000000;
}
.navbar-default .navbar-toggle {
  border-color: #000000;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #000000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #e7e7e7;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e7e7e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e7e7e7;
    background-color: #000000;
  }
}
#logo{
  height: 200px;
  width: 
}